.Header_container{
    display: flex;
}
.Header_link{
    padding-left: 52px;
    padding-right: 137px;
    gap:30px;
    display: flex;
}
.Header_logos{
    padding-left: 48px;
    display: flex;
    align-items: flex-start;
    gap: 31px;
}
.header_text{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-decoration: none;
/* light text */

color: #E4E5EA;

}
@media only screen and (max-width: 600px) {
    .Header_container{
        top: 0%;
        background-color: black;
        position: absolute;
        width: -webkit-fill-available;
        padding: 15px;
    }
    #phone{
        display: none;
    }
    #main_logo{
        display: none;
    }
    .Header_logos{
        display: none;
    }
    .header_text{
        font-size: 12px;
        line-height: 15px;
    }
    .Header_link{
        padding-left: 16px;
        width: 100%;
        padding-right: 16px;
        justify-content: space-around;
    }
  }